* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header section */

.header {
    background: #FFF8F3;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1460px;
}

.header-container{
    padding:410px 510px 210px 1440px;
}

.header-title{
    font-weight: 1400;
    font-size: 100px;
    text-align: right;
    margin-bottom: 60px;
}

.header-para{
    font-weight: 300;
    font-size: 30px;
    text-align: right;
    margin-bottom: 140px;
}

.btn-1{
    color:aliceblue;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    padding: 20px 30px;
    border: 0;
    border-radius: 10px;
    background-color: orangered;
    margin-left: 670px;
    height: 100px;
}

/* main section */

main{
    max-width: 2040px;
    margin: 0 auto;
}

.sect-title{
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 80px;
    text-align: left;
}

.sect-para{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: left;
}

/* My success and failures of previous year */

.my-success-container, .my-failures-container{
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 240px;
}

.my-success, .my-failures{
    width:850px;
}

i{
    color: lightgreen; 
    margin-right: 15px;
}

.success-points , .failure-points{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: left;
}

/* My Plans */

.my-plans{
    margin-top: 240px;
}

.plans-container{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.plan-box{
    text-align: center;
}

.plans{
    font-weight: 600;
    font-size: 40px;
}

/* Positive Mindset */

.positive-mindset{
    margin-top: 240px;
    background-image: url('../images/gradient3.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 240px;
}

.positive-mindset-content{
    padding-top:50px;
    padding-left: 60px;
    padding-bottom: 50px;
}

.btn-2{
        color: orangered;
        font-weight: 800;
        font-size: 35px;
        text-align: center;
        padding: 20px 30px;
        border: 0;
        border-radius: 8px;
        background-color: aliceblue;
        height: 100px;
}

/* Footer Section */

.footer-container{
    display: flex;
    /* gap: 400px; */
    justify-content: space-between;
    padding: 240px 400px;
    background-color: black;
}

.footer{
    padding-left: 10px;
}

.links{
    border: #FFF8F3;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    gap: 24px;
    justify-content: left;
}
input{
    margin-bottom: 40px;
    border: 1px solid white ;
    width: 80%;
    padding: 18px 30px;
    font-size: 30px;
    border-radius: 8px;
    background-color: black;
    color: white;
}