* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header section */

.header {
    background: #FFF8F3;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1460px;
}

.header-container{
    padding:410px 510px 210px 1440px;
    /* float: right; */
}

.header-title{
    font-weight: 1400;
    font-size: 100px;
    text-align: right;
    margin-bottom: 60px;
}

.header-para{
    font-weight: 300;
    font-size: 30px;
    text-align: right;
    margin-bottom: 140px;
}

.btn{
    color:aliceblue;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    padding: 20px 30px;
    border: 0;
    border-radius: 10px;
    background-color: orangered;
    margin-left: 670px;
    height: 100px;
}

/* main section */

main{
    max-width: 1640px;
    margin: 0 auto;
}

.sect-title{
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 80px;
    text-align: left;
}

.sect-para{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: left;
}

/* My success and failures of previous year */

.my-success-container, .my-failures-container{
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 360px;
}

.my-success, .my-failures{
    width:850px
}

i{
    color: lightgreen; 
    margin-right: 15px;
}

.success-points , .failure-points{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: left;
}

/* My Plans */

.my-plans{
    margin-top: 360px;
}

.plans-container{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.plan-box{
    text-align: center;
}

.plans{
    display: block;
    font-weight: 600;
    font-size: 40px;
}
